<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <h1>Create Pokemon</h1>
    <form action="/pokemon" method="post">
      Name: <input type="text" name="name" /><br><br>
      Type: <input type="text" name="type" /><br><br>
      HP: <input type="text" name="hp" /> <br><br>
      Attack: <input type="text" name="attack" /><br><br>
      Defense: <input type="text" name="defense" /> <br><br><br><br>
      Image: <input type="url" name="img" />
      <br><br><br><br>
      <input type="submit" value="Create Pokemon" /> <br><br><br><br>
    </form>

    <a href="/pokemon">Back To Index</a><br>
  </body>

  <%- include('./partials/footer.ejs')%>
</html>
