<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New EJS</title>
  </head>
  <body>
    <h1>New Pokemon Page</h1>
    <form action="/pokemon" method="POST">
      Type: <input type="text" name="name" /><br />
      HP: <input type="text" name="hp" /> <br />
      Attack: <input type="text" name="attack" /><br />
      Defense: <input type=""text" name="defense" /> <br />
    </form>

    <!-- <a href="/pokemon/" -->
  </body>
</html>
